.h1 {

text-align: center;

font-size: 50px;

color: #000000;

background-color: #ffffff;

letter-spacing: .05em;

text-shadow: 0px 8px 2px #8fff00, -4px -8px 2px #ff2a9d, 6px 0px 2px #ffe740;

height: 100px;

padding-top: 40px;

}
 .h2 {

text-align: center;

font-size: 50px;

color: #b900ff;

background-color: #ffbfbf;

letter-spacing: .05em;

text-shadow: 2px 2px 2px #ffffff;

height: 100px;

padding-top: 40px;

}
.h3 {

text-align: center;

font-size: 50px;

color: #000000;

background-color: #ffffff;

letter-spacing: .05em;

text-shadow: 0px -22px 0px #ff15a8;

height: 100px;

padding-top: 40px;

}
.h4 {

text-align: center;

font-size: 50px;

color: #ff9315;

background-color: #ffffff;

letter-spacing: .05em;

text-shadow: 0px -4px 2px #ffffff;

height: 100px;

padding-top: 40px;

}